:root {
    --spotify-black: #191414;
    --spotify-light-black: #352b2b;
    --spotify-white: #FFF;
    --spotify-green: #1DB954;

    --background: #000;
    --foreground: #FFF;
    --foreground-dim: #DDD;

    --player-height: 80px;
    
    --global-padding: 8px;
    --global-roundness: 8px;

    --component-padding: 16px;

    --sidebar-locations-padding: 16px;
    --sidebar-locations-gap: 16px;
    --sidebar-location-gap: 12px;
}

body {
    font-family: sans-serif;
    margin: 0; padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    color: var(--spotify-white);
    background-color: var(--background);
}

a {
    color: white;
    text-decoration: none;
    padding: 0; margin: 0;
}